body{
    font-family: 'Roboto', sans-serif;
}

/* menu*/
.menu_nav{
    margin-bottom: 0;
}
.menu_holder{
    height: 115px;
    position: relative;
    padding: 32px 45px;
}

.navbar-brand{
    position: absolute;
    left: 46.5%;
    z-index: 1;
    height: 60px;
    padding: 0;
    top:32px;
}
.menu_left a{
    float: left;
    color: black!important;
}
.menu_left img{
    padding: 25px 0;
}
.our_info{
    padding-right: 15px;
}
.our_info .phone , .our_info .address, .menu_left li a{
    padding: 15px 20px;
    font-size: 14px;

}
.our_info .phone img , .our_info .address img{
    margin-right: 10px;
}
.container-fluid>.navbar-header{
    margin: 0;
}
#bs-example-navbar-collapse-1 {
    margin: 0 -1px;
    background: rgba(255, 255, 255, 0.952941);
}
/*menu*/

.cont_granat{
    position: relative;
    min-height: 500px;
    height: 87.6vh;
    overflow: hidden;
    transition: background-color .3s ease-out;
}
.sec_top_wrapper{
    background: url("../images/section/main.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: auto;
    height: auto;
    z-index: -100;
}

/*slider*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity
}
.carousel-fade .carousel-inner .active {opacity: 1;  }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1}
.carousel-fade .carousel-control {z-index: 2}



.big_word{
    font-size: 140px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    line-height: 130px;
    padding: 90px 40px 30px;
    text-align: right;
}
.small_desk{
    font-size: 35px;
    color:white;
    font-weight: 100;
    padding-right: 44px;
    text-align: right;
}
/*slider*/
.scroll_wrapper{
    height: 5vh;
    margin-top: 30vh;
}
.scrollDown{
    position: relative;
}
.scroller{
    position: absolute;
    bottom: 0;
    right: 50px;
    color: white;
    text-transform: lowercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.scroller img{
    padding-left: 25px;
    transition: 0.5s;
}


/*slider*/
.orbit-wrapper, #featured{
    width: 100%!important;
}
.slider_holder{position: relative}
.orbit-caption{
    position: absolute!important;
    top: 0;
    width: 25%!important;
    right: 25%!important;
}
.orbit-wrapper .orbit-caption{
    background-color: rgba(213, 14, 14, 0.77)!important;
    padding: 40px 55px!important;
}
.meal_name h3{
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.meal_desc{
    font-size: 22px;
    font-weight: 100;
}
.meal_price h3{
    font-weight: bold!important;
    font-size: 26px!important;
    margin-top: 4px;
}
.menu_btn{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    background: white;
    color: red;
    padding: 10px;
    margin-top: 55px;
}
.menu_btn_word{
    position: relative;
}
.menu_btn_word img {
    position: absolute;
    top: 8px;
    right: 7%;
}
.slider-nav{
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    right: 0;
    background: rgba(0, 0, 0, 0.58);
    z-index: 3;
}
/*slider*/
/*news*/
.all_news{
    min-height: 250px;
}
.active_holder:nth-child(1){
    border-left: 1px solid #ccc!important;;
}
.artice_wrapper{
    padding: 50px 40px;
}
.active_holder{
    border-right:1px solid #ccc!important;
    padding: 0;
}
.active_holder1{
    border-left: 1px solid #ccc;
}

.block_title{
    text-align: right;
}
.block_title h3{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 65px ;
}
.block_title a{
   text-decoration: none;
    color: black;
}
.block_title a img{
    width: 10px;
}
.article_name{
    font-size: 26px;
    color: #ca0000;
    font-weight: bold;
    margin-top: 21px;
}
.article_date{
    margin: 15px 0 30px 0;
    color: #9f9f9f;
}
.article_content{
    font-size: 14px;
    color: rgb(102, 102, 102);
}

/*news*/
/*footer*/
.footer_wrapper{
    background: #1b1b1b;
}
.granat_copyright{
    color: #555555;
}
.menu_footer ul li{
    list-style: none;
    color:  #f10800;
}
.menu_footer ul li a{
    color:  #555555;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

}
.menu_footer  .active , .menu_footer ul li:hover{
    list-style: disc!important;
}
.menu_footer  .active a, .menu_footer ul li:hover a{
    color: white!important;
}
.it_hold{
    padding: 26px 32px;
}
.socials_holder{
    margin-top: 40px;
    text-align: right;
}
.socials {
    width: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #555555;
    margin-right: 10px;
    transition: .5s;
}
.socials:hover{
    background: white;
}
.copyright_beinweb{
    text-align: right;
    margin-top: 49px;
}
.copyright_beinweb h5{
    color: #555555;
    border-bottom: 1px solid red;
    display: inline;
    font-size: 12px;
}

.copyright_beinweb a{
    color: #555555;
    text-decoration: none;
    text-align: right;
}
.copy_img {
    margin-top: 42px;
    margin-left: -9px;
}
/*footer*/
/*----*/
.pad_0{
    padding: 0;
}
/*media*/
@media(max-width:1640px){
    .meal_name h3{
        font-size: 30px;
    }
    .menu_btn_word img{
        display: none;
    }
}
@media(max-width:1275px){
    .meal_name h3 {
        font-size: 22px;
        text-align: center;
    }
    .meal_desc{
        text-align: center;
        margin-bottom: 25px;
    }
    .menu_btn{
        margin-top:38px
    }
    .meal_price{
        text-align: center;
    }
    .orbit-wrapper .orbit-caption{
        padding: 40px 35px!important;
    }

}
@media(max-width:1250px){
    .big_word{
        font-size:87pt
    }
}

@media(max-width: 1100px){
    .menu_holder{padding: 32px 0}
    .our_info .phone, .our_info .address, .menu_left li a{padding: 15px 11px}
    .navbar-brand{left:43.5%}
    .menu_btn_word img{display: inline-block}

}
@media(max-width:1105px){
    .orbit-caption{
        width: 50%!important;
        right: 0!important;
    }
    .meal_name h3{
        font-size: 42px;
    }
    .meal_desc{
        font-size: 23px;
    }
    .slider-nav{
        left: 0;
        width: 50%;
    }
}
@media(max-width:1000px){
.sec_top_wrapper{
    background: url("../images/section/main_sm.jpg") no-repeat;
    background-size: initial;}
    .cont_granat{height: 86.6vh}
    .bs-docs-example{
        width: 540px;
        float: right
    }
    .scroll_wrapper{
        margin-top: 27vh;
    }
}
@media(max-width:992px){
    .active_holder, .active_holder1{
        border:none!important
    }
}
@media(max-width:870px){
    .our_info .phone, .our_info .address, .menu_left li a {padding: 15px 6px}
    .our_info .phone img, .our_info .address img {margin-right: 2px}
    .navbar-brand>img {transform: scale(0.8)}
    .navbar-brand {left: 41.5%}
}
@media(max-width:767px){
    .menu_holder {padding: 0 0}
    .menu_holder {height: 50px}
    .navbar-header button{
        float: left;
        margin: 12px
    }
    .navbar-brand {position: static}
    .navbar-brand>img {
        position: absolute;
        right: 10px;
        top:2px;
        z-index: 1
    }
    .navbar-nav{margin: 0}
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
    .container>.navbar-collapse, .container>.navbar-header{margin: 0}
    .menu_left img {visibility: hidden}
    .cont_granat {height: 92vh}
    .sec_top_wrapper {
        background: url("../images/section/main_ssmall.jpg");
        background-size: initial
    }
    div.slider-nav{
        display: none!important;
    }
    .orbit-caption{
        width:100%!important;
    }
    .last_article{
        border:none
    }

    .block_title{
        text-align: left;
    }
    .artice_wrapper{
        padding-bottom: 0;
        padding-top: 10px;
    }
    .copyright_beinweb, .copy_img{
        text-align: center;
    }
    .copy_img{
        margin-top:15px;
        margin-bottom: 25px;
    }
    footer{margin-top: 70px;}
}
@media(max-width:520px){
    .small_desk{font-size: 26px}
    .scroll_wrapper {
        margin-top: 33vh;
    }
}
@media(max-width:490px){
    .big_word {
        font-size: 65pt;
        line-height: 100px;
    }
    .scroll_wrapper {
        margin-top: 40vh;
    }
}
@media(max-width:420px){
    .footer_icons{
        width: 100%;
    }
    .socials_holder{
        text-align: center;
    }
    .granat_copyright{
        width:100%;
        text-align: center;
    }
}
@media(max-width:370px){
    .menu_btn {
        margin-top: 16px;
    }
    .menu_btn_word img{
        display: none;
    }
}
@media(max-width:390px){
    .big_word {
        font-size: 51pt;
        line-height: 74px;
    }
    .small_desk {
        font-size: 20px;
    }
    .meal_name{font-size: 35px;}
}
/*slider*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/*slider*/
